<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.GiftDao">
    <select id="seletById" resultType="model.Gift">
    select * from Gift where gId = #{gId}
    </select>

    <select id="getAllGift" resultType="model.Gift">
        select * from Gift
    </select>
</mapper>